main{
    width: 830px;
    line-height: 0;
    display: block;
    background-color: #fef2cd;
}
header{
    display: block;
}
section{
    margin-left: 21px;
    border: solid black 4px;
    width: 788px;
    height: 928px;
}
#sighted{
    float: left;
    margin-bottom: 18px;
    margin-left: 20px;
}
#siriusblack{
    margin-left: 19px
}
#derecha1{
    float: right;
    margin-right: 19px;
}
#derecha2{
    float: right;
    margin-right: 19px;
    margin-top: 12px;
}
#izquierda1{
    float: left;
    margin-left: 19px;
}
#izquierda2{
    float: left;
    margin-top: 20px;
    margin-left: 19px;
}
#izquierda3{
    float: left;
    margin-top: 30px;
    margin-left: 19px;
}
#siriusBlackGif{
    width: 440px;
    height: 440px;
    margin-left: 20px;
}
#gif{
    height: 444px;
}
#piedefoto{
    float: left;
    margin-left: 20px;
    margin-top: 155px;
    width: 440px;
    height: 147px;
}
#piedepagina{
    margin-left: 20px;
}
hr{
    border: 2px solid black;
    margin-top: 311px;
    width: 740px;
}