body{
    background-color: rgb(94, 94, 94);
    font-family: Arial, Helvetica, sans-serif;
}
header, section{
    border: 2px black solid;
}
section{
    background-color: firebrick;
}
p{
    color: black;
}
footer{
    height: 100px;
}
ul, .dropdown-menu{
    background-color: #333;
    color: white;
}
li a {
    font-size: 20px;
    color: white;
}
li .dropdown-item{
    color: white; 
}
.aside{
    height: 200px;
    margin-bottom: 25px;
    margin-top: 15px;
}
.container{
    border: 1px solid black;
    padding: 0;
}
.dropdown-item:hover, .nav-pills .show > .nav-link, ul a:hover{
    background-color: rgb(192, 185, 185);
    color: black;
}
#logo{
    width: 60%;
    display:block;
    margin:auto;

}
#colum{
    margin-bottom: 40px;  
    padding-left: 100px;
    padding-right: 100px;
    -webkit-column-count: 2;
    -webkit-column-rule-style: solid;
    -webkit-column-rule-width: 1px;

    -moz-column-count: 2;
    -moz-column-rule-style: solid;
    -moz-column-rule-width: 1px;
  
    column-count: 2;
    column-rule-style: solid;
    column-rule-width: 1px;
}
#creative{
    margin-right: 100px;
    float: right;
    position: relative;
    width: 5%;
}
#by_me{
    font-family: 'Courier New', Courier, monospace; 
    font-size: 15px;
    margin-left: 100px;
}