body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    border: 2px black solid;
}
section{
    border: 2px black solid;
    height: 500px;
    background-color: firebrick;
}
article{
    height: 200px;
}
.container{
    border: 1px solid black;
    padding: 0;
}
ul, .dropdown-menu{
    background-color: #333;
    color: white;
}
li a {
    font-size: 20px;
    color: white;
}
li .dropdown-item{
    color: white; 
}
.dropdown-item:hover, .nav-pills .show > .nav-link, ul a:hover{
    background-color: rgb(192, 185, 185);
    color: black;
}
#logo{
    width: 60%;
    display:block;
    margin:auto;

}