.container{
    border: 1px solid black;
    padding: 0;
}
header{
    border: 2px black solid;
}
img{
    width: 100%;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li{
    width: 100%;
    float: left;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover{
    background-color: rgb(192, 185, 185);
    text-decoration: none;
    color: black;
}
.col-3{
    padding-left: 0px;
    padding-right: 0px;
}